.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
data/metatdenovo/user_assembly.prokka.counts.tsv.gz
data/metatdenovo/gtdb_ncbi_merged.tsv.gz
data/metatdenovo/user_assembly.prokka.kofamscan-uniq.tsv.gz
diabetologia.csl
nature.csl
references.bib
figures
grateful-refs.bib
